// Paleta accent.
$accent-palette: (
  50: #f1fffe,
  100: #e2ffff,
  200: #c9fafa,
  300: #bbebec,
  400: #a0cfcf,
  500: #f7f8f8,
  600: #6b9999,
  700: #517f7f,
  800: #386666,
  900: #ffffff,
  A100: #ffffff,
  A200: #a1aaaa,
  A400: #003738,
  A700: #9da5a5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);