
// Paleta warn.
$warn-palette: (
  50: #ffedeb,
  100: #ffdad6,
  200: #ffb3ac,
  300: #e2c2bf,
  400: #ff544d,
  500: #dc3937,
  600: #b81e21,
  700: #a70c17,
  800: #93000f,
  900: #7d000b,
  A100: #680008,
  A200: #540005,
  A400: #410003,
  A700: #2d0001,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);