<div class="calculator">
  <div class="display">{{ display === '' ? '0' : display }}</div>
  <div class="num-buttons">
    <button (click)="numClick(1)">1</button>
    <button (click)="numClick(2)">2</button>
    <button (click)="numClick(3)">3</button>
    <button (click)="resetCalculator()" class="oper-button">AC</button>
    <button (click)="numClick(4)">4</button>
    <button (click)="numClick(5)">5</button>
    <button (click)="numClick(6)">6</button>
    <button (click)="oper('+')" class="oper-button">+</button>
    <button (click)="numClick(7)">7</button>
    <button (click)="numClick(8)">8</button>
    <button (click)="numClick(9)">9</button>
    <button (click)="oper('-')" class="oper-button">-</button>
    <button (click)="numClick(0)">0</button>
    <button (click)="calculate()" class="compute-button">=</button>
    <button (click)="oper('*')" class="oper-button">x</button>
    <button (click)="oper('/')" class="oper-button">/</button>
  </div>
</div>


<p>Nombre: {{ nombreCompartido }}</p>
