:host {
    display: block;
  
    .calculator1{
      margin-top: 80px;
      .display {
        border: 1px solid lightgray;
        width: 100px;
        height: 20px;
        text-align: right;
        margin-bottom: 15px;
      }
      
      .num-buttons {
        display: grid;
        /* height: 300px; */
        width: 100%;
        justify-items: center;
        grid-template-columns: 33px 33px 33px 33px;
        grid-template-rows: 30px 30px 30px 30px;
        grid-template-areas: 
          ". . . ."
          ". . . ."
          ". . . ."
          ". cero . menos";
      }

      .bottom {
        display: flex;
      }
      
      .button-0 {
        grid-area: cero;
      }

      .button-s{
        grid-area: menos;
      }
      
      .equals {
        width: 100px;
        height: 25px;
        background-color: yellow;
        color: black;
        text-align: center;
      }
    }
  }