:host {
  display: block;
}

.calculator {
  margin: 0 auto;
  width: 332px;

  & .display {
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: right;
    padding: 16px;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    padding-right: 8px;
  }

  & .num-buttons {
    display: flex;
    row-gap: 4px;
    column-gap: 4px;
    flex-wrap: wrap;

    & button {
      padding: 8px;
      background-color: #f1f3f4;
      color: #1c1c1c;
      border-radius: 8px;
      width: 80px;
      border: none;
      cursor: pointer;

      &.oper-button {
        background-color: #dadce0;
      }

      &.compute-button {
        background-color: #4285f4;
        color: white;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}