<div>
  <input type="number" [(ngModel)]="input1">
  <input style="margin-left: 14px" type="number" [(ngModel)]="input2">
</div>

<div>
    <button style="width: 80px; height: 30px" (click)="sumar()">Sumar</button> 
    Resultado: {{ resultado }}
</div>

<p style="margin-top: 48px">Usando Material</p>

 <div>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="input1">
  </mat-form-field>
  <mat-form-field style="margin-left: 32px !important">
    <input matInput type="number" [(ngModel)]="input2">
  </mat-form-field>
</div>

<div>
    <button mat-raised-button color="primary" (click)="sumar()">Primary</button>
    Resultado: {{ resultado }}
</div>

<div class="calculator1">
    <div class="num-buttons">
        <div class="button button-1" (click)="numClick(1)">1</div>
        <div class="button button-2" (click)="numClick(2)">2</div>
        <div class="button button-3" (click)="numClick(3)">3</div>
        <div class="button button-4" (click)="numClick(4)">4</div>
        <div class="button button-5" (click)="numClick(5)">5</div>
        <div class="button button-6" (click)="numClick(6)">6</div>
        <div class="button button-7" (click)="numClick(7)">7</div>
        <div class="button button-8" (click)="numClick(8)">8</div>
        <div class="button button-9" (click)="numClick(9)">9</div>
        <div class="button button-0" (click)="numClick(0)">0</div>
      </div>
      
      <div class="operator-buttons">
        <div class="button button-m" (click)="oper('m')">x</div>
        <div class="button button-d" (click)="oper('d')">/</div>
        <div class="button button-a" (click)="oper('a')">+</div>
        <div class="button button-s" (click)="oper('s')">-</div>
      </div>
      
      <button class="equals" (click)="calculate()">=</button>
    <div class="display">{{ display }}</div>
</div>

<div class="calculator2">
    <div class="calculator">
        <div class="display">{{ currentNumber }}</div>
        <div class="button-row">
          <button (click)="getNumber('7')">7</button>
          <button (click)="getNumber('8')">8</button>
          <button (click)="getNumber('9')">9</button>
          <button (click)="pressOperator('/')">/</button>
        </div>
        <div class="button-row">
          <button (click)="getNumber('4')">4</button>
          <button (click)="getNumber('5')">5</button>
          <button (click)="getNumber('6')">6</button>
          <button (click)="pressOperator('*')">*</button>
        </div>
        <div class="button-row">
          <button (click)="getNumber('1')">1</button>
          <button (click)="getNumber('2')">2</button>
          <button (click)="getNumber('3')">3</button>
          <button (click)="pressOperator('-')">-</button>
        </div>
        <div class="button-row">
          <button (click)="getNumber('0')">0</button>
          <button (click)="clear()">C</button>
          <button (click)="allClear()">AC</button>
          <button (click)="pressOperator('+')">+</button>
        </div>
        <div class="button-row">
          <button (click)="getNumber('.')">.</button>
          <button (click)="getAnswer()">=</button>
        </div>
    </div>          
</div>


<div style="margin-top: 60px;" class="calculator3">
    <div>
        <input type="number" [(ngModel)]="num1" placeholder="Enter first number">
        <input type="number" [(ngModel)]="num2" placeholder="Enter second number">
        
        <div class="buttons">
            <button (click)="calculate3('add')">Add</button>
            <button (click)="calculate3('subtract')">Subtract</button>
            <button (click)="calculate3('multiply')">Multiply</button>
            <button (click)="calculate3('divide')">Divide</button>
        </div>
        <p *ngIf="result">Result: {{ result }}</p>
      </div>
</div>

