@use "badge";
@use "scrollbar";
@use "variables";

// TODO: Grid row
.uis-layout-row {
  margin-right: -(variables.$gutter)*0.5;
  margin-left: -(variables.$gutter)*0.5;
}

// TODO: Grid col
.uis-layout-col {
  padding-right: variables.$gutter*0.5;
  padding-left: variables.$gutter*0.5;
}

.badge {
  @include badge.badge();
}

.scrollbar-thin {
  @include scrollbar.scrollbar-thin();
}

.scrollbar-none {
  @include scrollbar.scrollbar-none();
}
