@use "@angular/material" as mat;

$rsi-typography-config: mat.define-typography-config(
  $font-family: "Open Sans",
  $headline-5: mat.define-typography-level(20px, 28px, 600, null, 0.1px),
  $headline-6: mat.define-typography-level(20px, 28px, 400, null, 0.1px),
  $subtitle-1: mat.define-typography-level(16px, 24px, 700, null, 0.1px),
  $body-1: mat.define-typography-level(16px, 24px, 400, null, 0.5px),
  $button: mat.define-typography-level(14px, 20px, 500, null, 0.25px),
  $caption: mat.define-typography-level(12px, 16px, 400, null, 0.4px),
);

*:not(mat-icon){
  font-family: "Open Sans", sans-serif !important;
}