<p>Ingresa los datos del producto.</p>
<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="form.get('title').hasError('required')">
            El titulo es obligatorio
        </mat-error>
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price" type="number" required>
            <mat-error *ngIf="form.get('price').hasError('required')">
                El precio es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-select-two
            label="Categoria"
            placeholder="Selecciona una categoria"
            [control]="form.controls.category"
            [value]="'name'"
            [name]="'displayName'"
            [required]="true"
            [options]="categories"
            [(busqueda)]="searchCategory"
        >
        </mat-select-two>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
</form>
