<!-- <form>
    <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput [formControl]="control">
        <mat-error>{{
            control.hasError('email') ? "El correo ingresado no es válido" : "El valor de este campo es obligatorio"
            }}</mat-error>
    </mat-form-field>
</form> -->

<form [formGroup]="form" style="width: 400px; display: flex; flex-direction: column">
    <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" />
        <mat-error>{{
            form.controls.correo.hasError('email') ? "El correo ingresado no es válido" : "El valor de este campo es obligatorio"
            }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>Seleccione un rol</mat-label>
        <mat-select formControlName="rol">
            @for (option of roles; track $index) {
                <mat-option [value]="option.value">{{ option.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description">
        </textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Enviar</button>
</form>

<section class="register-form">
    <h2>Formulario de registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="registerForm.get('name').hasError('required')">
                    El nombre es obligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                    El correo es obligatorio
                </mat-error>
                <mat-error *ngIf="registerForm.get('email').hasError('email')">
                    Por favor ingresa un correo válido
                </mat-error>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-error *ngIf="registerForm.get('password').hasError('required')">
                    La contraseña es obligatoria
                </mat-error>
                <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                    La contraseña debe ser de al menos 6 caracteres
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" required>
                <mat-error>
                    {{
                        registerForm.get('confirmPassword').hasError('diff') 
                            ? 'Las contraseñas deben ser iguales' 
                            : registerForm.get('confirmPassword').hasError('minLength') 
                            ? "La contraseña debe tener al menos 6 caracteres" 
                            : "Debes confirmar la contraseña"
                    }}
                </mat-error>
            </mat-form-field>
        </div>
    
        <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option value="male">Hombre</mat-option>
                <mat-option value="female">Mujer</mat-option>
                <mat-option value="other">Otro</mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.get('gender').hasError('required')">
                El Género es obligatorio
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <uis-phone-intl-input
                [preferredCountries]="['co', 'us', 'gb']"
                [enablePlaceholder]="true"
                [enableSearch]="true"
                name="telefonoCel"
                formControlName="phone"
                [placeholder]="'Digite el número de teléfono'"
                required
            >
            </uis-phone-intl-input>
        </mat-form-field>

    
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea matInput formControlName="bio"></textarea>
        </mat-form-field>

        <mat-select-two
            label="Color favorito"
            placeholder="Selecciona un color"
            [control]="registerForm.controls.favColor"
            [value]="'id'"
            [name]="'name'"
            [busqueda]="colorSearch"
            [required]="true"
            [options]="colors"
            [config]="colorConfig"
        >
        </mat-select-two>

        @if (selectedFileUrl) {
            <img [src]="selectedFileUrl" />
        }
        <app-file-chooser 
            (files)="fileSelect($event)" 
            [insertMode]="true"
        >
        </app-file-chooser>
    
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Registrar</button>
    </form>
</section>