<p
  [innerHTML]="'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.LABEL' | translate"
></p>
<form
  [formGroup]="form"
  class="form-reset-password"
  (ngSubmit)="resetPassword($event)"
>
  <mat-form-field class="field">
    <mat-icon matPrefix>lock</mat-icon>
    <mat-icon
      matSuffix
      style="cursor: pointer"
      (click)="hideCurrentPassword = !hideCurrentPassword"
      [title]="
        (hidePassword
          ? 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.OFF'
          : 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.ON'
        ) | translate
      "
      >{{ hideCurrentPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-label>
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.PASSWORD_LABEL" | translate
      }}
    </mat-label>
    <input
      matInput
      [placeholder]="
        'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.PLACEHOLDER_LABEL'
          | translate
      "
      [type]="hideCurrentPassword ? 'password' : 'text'"
      formControlName="currentPassword"
      required
    />
    <mat-error *ngIf="form.controls.currentPassword.invalid">
      {{ "FORMS_ERROR_MESSAGES.DEFAULT" | translate }}
    </mat-error>
    <!-- <mat-error
      *ngIf="
        form.controls.password.touched && !form.controls.password.value.length
      "
    >
      {{ "FORMS_ERROR_MESSAGES.REQUIRED_FIELD" | translate }}
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('pattern')">
      La contraseña no cumple con los requisitos
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="field">
    <mat-icon matPrefix>lock</mat-icon>
    <mat-icon
      matSuffix
      style="cursor: pointer"
      (click)="hidePassword = !hidePassword"
      [title]="
        (hidePassword
          ? 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.OFF'
          : 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.ON'
        ) | translate
      "
      >{{ hidePassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-label>
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.NEW_PASSWORD" | translate
      }}</mat-label
    >
    <input
      matInput
      [placeholder]="
        'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD'
          | translate
      "
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      (input)="validatePassword($event.target.value)"
      required
    />
    <mat-error
      *ngIf="
        form.controls.password.touched && !form.controls.password.value.length
      "
    >
      {{ "FORMS_ERROR_MESSAGES.DEFAULT" | translate }}
    </mat-error>
    <mat-error
      *ngIf="
        form.controls.password.hasError('pattern') &&
        form.controls.password.value.length > 0
      "
    >
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.FORM_ERRORS"
          | translate
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-icon matPrefix>lock</mat-icon>
    <mat-label>
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.PLACEHOLDER_CONFIRM"
          | translate
      }}</mat-label
    >
    <mat-icon
      matSuffix
      style="cursor: pointer"
      (click)="hideConfirmPassword = !hideConfirmPassword"
      [title]="
        (hideConfirmPassword
          ? 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.OFF'
          : 'MODULES.LOGIN.RESET_PASSWORD.FIELDS.VISIBILITY.ON'
        ) | translate
      "
      >{{ hideConfirmPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <input
      matInput
      [placeholder]="
        'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.PLACEHOLDER_CONFIRM'
          | translate
      "
      [type]="hideConfirmPassword ? 'password' : 'text'"
      formControlName="confirmPassword"
      required
    />
    <mat-error
      *ngIf="
        form.controls.confirmPassword.touched &&
        !form.controls.confirmPassword.value.length
      "
    >
      {{ "FORMS_ERROR_MESSAGES.DEFAULT" | translate }}
    </mat-error>
    <mat-error *ngIf="form.controls.confirmPassword.hasError('pattern')">
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.FORM_ERRORS"
          | translate
      }}
    </mat-error>
    <mat-error
      *ngIf="
        form.controls.confirmPassword.hasError('notEqual') &&
        form.controls.confirmPassword.value.length
      "
    >
      {{
        "GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.NOT_EQUAL" | translate
      }}
    </mat-error>
  </mat-form-field>

  <div class="c-hints">
    <span
      [class]="
        passwordHints.minLength !== null
          ? passwordHints.minLength === true
            ? 'green'
            : 'red'
          : null
      "
    >
      <p
        [innerHTML]="
          'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.MIN' | translate
        "
      ></p>
      <mat-icon *ngIf="passwordHints.maxLength !== null">
        {{ passwordHints.minLength === true ? "done" : "close" }}</mat-icon
      >
    </span>
    <!-- &#123; = {, &#125; = } -->
    <span
      [class]="
        passwordHints.specialChar !== null
          ? passwordHints.specialChar === true
            ? 'green'
            : 'red'
          : null
      "
    >
      <p
        [innerHTML]="
          'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.CHARACTER'
            | translate
        "
      ></p>
      <mat-icon *ngIf="passwordHints.specialChar !== null">
        {{ passwordHints.specialChar === true ? "done" : "close" }}</mat-icon
      >
    </span>
    <span
      [class]="
        passwordHints.uppercase !== null
          ? passwordHints.uppercase === true
            ? 'green'
            : 'red'
          : null
      "
    >
      <p
        [innerHTML]="
          'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.UPPERCASE'
            | translate
        "
      ></p>
      <mat-icon *ngIf="passwordHints.uppercase !== null">
        {{ passwordHints.uppercase === true ? "done" : "close" }}</mat-icon
      >
    </span>
    <span
      [class]="
        passwordHints.lowercase !== null
          ? passwordHints.lowercase === true
            ? 'green'
            : 'red'
          : null
      "
    >
      <p
        [innerHTML]="
          'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.LOWERCASE'
            | translate
        "
      ></p>
      <mat-icon *ngIf="passwordHints.lowercase !== null">
        {{ passwordHints.lowercase === true ? "done" : "close" }}</mat-icon
      >
    </span>
    <span
      [class]="
        passwordHints.digit !== null
          ? passwordHints.digit === true
            ? 'green'
            : 'red'
          : null
      "
    >
      <p
        [innerHTML]="
          'GENERAL_PAGES_FROM_LAYOUT.CHANGE_PASSWORD.ERRORS.NUMBER' | translate
        "
      ></p>
      <mat-icon *ngIf="passwordHints.digit !== null">
        {{ passwordHints.digit === true ? "done" : "close" }}</mat-icon
      >
    </span>
  </div>
</form>
