.form-reset-password {
    width: 100%;
}
p {
    color: #707070;
}
.mat-mdc-form-field {
    width: 100%;
}

$main-color: var(--main-color);
$tonos-tenues-textos: var(--tonos-tenues-textos);
$borde-botones-blancos: var(--borde-botones-blancos); 

:host {
    width: 100%;
}
mat-icon {
    color: var(--color-text)
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .c-title {
        position: relative;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;

        & div {
            text-align: center;
            font-size: 22px;
        }
        /** boton con solo icono */
        .btn-go-back {
            /**
             * place it at the left side of the card
             */
            transform: translateY(-50%);
            position: absolute;
            left: 0px;
            top: 70%;

            height: 36px;
            width: 36px;

            mat-icon {
                font-size: 24px !important;
                font-weight: 600 !important;
                height: 24px !important;
                width: 24px !important;
            }

            &:hover {
                /** el boton crece 6px, 6/36 = 0.1665 */
                transform: translateY(-50%) scale(calc(1 + 0.1665)) !important;
                filter: brightness(70%);

                /** preserva el tamaño del icono al escalar */
                & mat-icon {
                    transform: scale(calc(1 / 1.1665)) !important;
                }
            }
        }

        .green {
            color: $main-color;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    }

    .logo {
        max-height: 100px;
        height: 7vw;
        min-height: 80px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
/** 
 * centra los iconos de los botones 
 */
::ng-deep .btn-go-back .mat-mdc-button-wrapper {
    padding: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.reset-pw-form.disabled {
    pointer-events: none;
}

/*Fila de login y password */
::ng-deep .reset-pw-form .field {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;

    &.mat-form-field-disabled {
        & input,
        label,
        mat-icon {
            color: rgba(0, 0, 0, 0.12);
        }
    }

    & input[type="text"],
    & input[type="password"] {
        width: 100%;
        color: $tonos-tenues-textos;
        font-size: 12px;
        padding-bottom: 5px;

        &::-webkit-input-placeholder {
            font-size: 12px;
        }
    }

    & label {
        font-size: 15px;
        margin-top: 3px;
    }

    & mat-icon {
        color: $tonos-tenues-textos;
        width: 24px !important;
        height: 24px !important;
        font-size: 24px !important;
    }

    /* Change the highlight color when autocomplete */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px rgba($main-color, 0.3) inset !important;
    }
}

::ng-deep .reset-pw-form .btn {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

::ng-deep .c-hints {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;

    & span {
        display: flex;
        justify-content: space-between;

        &.red p,
        &.red mat-icon {
            color: rgb(200, 15, 15) !important;
        }

        &.green p,
        &.green mat-icon {
            color: $main-color !important;
        }

        & p {
            color: $tonos-tenues-textos;
            font-size: 13px;
            margin-bottom: -2px;
        }

        mat-icon {
            align-self: flex-end;
            font-size: 16px;
            width: 16px;
            height: 16px;
        }
    }

    &.disabled span {
        mat-icon,
        p {
            color: rgba(0, 0, 0, 0.12);
        }
    }
}


::ng-deep .reset-pw-spinner {
    --spinner-size: 50px;
    width: var(--spinner-size) !important;
    height: var(--spinner-size) !important;
    margin-left: auto;
    margin-right: auto;
    & svg {
        width: var(--spinner-size) !important;
        height: var(--spinner-size) !important;
    }
}

@media screen and (max-height: 650px) {
    header {
        .logo {
            height: 70px;
            margin-top: 30px;
        }
        .c-title {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            > div {
                font-size: 18px;
            }
        }
    }

    ::ng-deep .reset-pw-form .field {
        & input[type="text"],
        & input[type="password"] {
            font-size: 12px;
        }
        & label {
            font-size: 15px;
            margin-top: 3px;
        }
    }
}

@media screen and (max-width: 450px) {
    .c-hints {
        margin-left: 0;
        width: 100%;

        p {
            font-size: 12px;
            margin-bottom: -5px;
            max-width: 250px;
        }

        p, & mat-icon {
            align-self: center;
        }
    }
}